<!--<nav class="navbar navbar-expand-sm navbar-dark bg-primary">-->
<!--  &lt;!&ndash; Links &ndash;&gt;-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="main-page" class="nav-link" routerLinkActive="active">Profile Page</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="side-page" class="nav-link" routerLinkActive="active">About Page</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<!--<div class="container">-->
<!--  <br>-->
<!--  <h2 style="text-align: center;">{{title}}</h2>-->
<!--  <hr>-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-main-page></app-main-page>
