<div class="main-page">
<!--  Header part-->
  <div class="head-container">
    <div class="background-transparent"></div>
    <div class="header">
      <div class="header-avatar">
        <img
          src="https://d1fdloi71mui9q.cloudfront.net/N36gtB9DQ4iBRdr1THHh_P0ASp37TSiNnu5v0"
          alt="Tô Minh Sơn (sontm) Profile Image"
          filter="none"
          class="header-image"
        >
      </div>
      <div class="header-name">
        <h1>Tô Minh Sơn</h1>
      </div>
      <div class="header-description">
        <h2>Ông trùm đầu cơ, Bậc thầy tỉa nến, Kẻ hủy diệt thị trường</h2>
      </div>
    </div>
<!--    Content parts -->
    <div class="content">
      <div class="inside">
        <a [href]="InfoList.Facebook.url">
          <div class="thumbnail-facebook"></div>
          <p class="content-text">Facebook</p>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="inside">
        <a [href]="InfoList.Linkedin.url">
          <div class="thumbnail-linkedin"></div>
          <p class="content-text">Linkedin</p>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="inside">
        <a [href]="InfoList.Mail.url">
          <div class="thumbnail-mail"></div>
          <p class="content-text">Mail</p>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="inside">
        <a [href]="InfoList.Youtube.url">
          <div class="thumbnail-youtube"></div>
          <p class="content-text">Youtube</p>
        </a>
      </div>
    </div>
  </div>
<!--  Footer part-->
  <div class="footer">
    <div class="footer-content"></div>
  </div>
</div>
